.confirmOrderPage {
  height: auto;
  background-color: var(--lightColor);
  display: grid;
  grid-template-columns: 6fr 3fr;
}
.confirmOrderPage > div:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.247);
}
.confirmshippingArea {
  padding: 5vmax;
  padding-bottom: 0%;
}
.confirmshippingAreaBox,
.confirmCartItemsContainer {
  margin: 2vmax;
}
.confirmshippingAreaBox > div {
  display: flex;
  margin: 1vmax 0;
}
.confirmshippingAreaBox > div > p {
  color: black;
}
.confirmshippingAreaBox > div > span {
  margin: 0 1vmax;
  color: #575757;
}
.confirmCartItems {
  padding: 5vmax;
  padding-top: 2vmax;
}
.confirmCartItemsContainer {
  max-height: 20vmax;
  overflow-y: auto;
}
.confirmCartItemsContainer > div {
  display: flex;
  align-items: center;
  margin: 2vmax 0;
  justify-content: left;
}
.confirmCartItemsContainer > div > img {
  width: 3vmax;
  margin-right: 20px;
}
.confirmCartItemsContainer > div > a {
  color: var(--themeColor);
  margin: 0;
  width: 50%;
  text-decoration: none;
  text-align: left;
}
.confirmCartItemsContainer > div > span {
  color: var(--themeColor);
}
.orderSummary {
  padding: 7vmax;
}
.orderSummary > p {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.267);
  padding: 1vmax;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
}
.orderSummary > div > div {
  display: flex;
  justify-content: space-between;
  margin: 2vmax 0;
}
.orderSummary > div > div > span {
  color: rgba(0, 0, 0, 0.692);
}
.orderSummaryTotal {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.363);
  padding: 2vmax 0;
}

@media screen and (max-width: 600px) {
  .confirmOrderPage {
    grid-template-columns: 1fr;
    height: unset;
  }
  .confirmOrderPage > div:last-child {
    border-left: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.247);
  }
  .confirmshippingAreaBox > div {
    display: flex;
    margin: 6vw 0;
  }
  .confirmCartItemsContainer {
    max-height: 50vw;
  }
  .confirmCartItemsContainer > div > img {
    width: 10vw;
  }
  .confirmCartItemsContainer > div > a {
    margin: 0;
    width: 30%;
  }
  .orderSummary {
    padding: 12vw;
  }
  .orderSummary > p {
    padding: 4vw;
  }
  .orderSummaryTotal {
    padding: 5vw 0;
  }
  .orderSummary > button {
    padding: 4vw;
    margin: 4vw auto;
  }
}
