.orderSuccess {
  margin: auto;
  text-align: center;
  padding: 100px 50px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.orderSuccess > svg {
  font-size: 7vmax;
  color: #444;
}
.orderSuccess > p {
  font-size: 2vmax;
}
.orderSuccess > a {
  display: inline-block;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .orderSuccess > a {
    padding: 3vw 6vw;
    margin: 2vmax;
  }

  .orderSuccess > svg {
    font-size: 20vw;
  }
  .orderSuccess > p {
    margin: 2vmax;
    font-size: 5vw;
  }
}
