.shippingBox {
  background-color: var(--lightColor);
  width: auto;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  overflow: hidden;
}
.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: auto;
  transition: all 0.5s;
}
.shippingForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}
.shippingContainer input.btn_primary{
  margin-top: 10px;
  width: 100%;
}
.shippingForm > div > input,
.shippingForm > div > select {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  outline: none;
}
.shippingForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}


@media screen and (max-width: 768px) {
  .shippingHeading {
    padding: 5vw;
  }
  .shippingForm {
    padding: 50px 100px;
  }
  .shippingForm > div > input,
  .shippingForm > div > select {
    padding: 5vw 10vw;
  }
  .shippingForm > div > svg {
    font-size: 6vw;
    transform: translateX(3vw);
  }
  .shippingBtn {
    padding: 4vw;
  }
}
@media screen and (max-width: 480px) {
  .shippingForm {
    padding: 20px;
  }
}