{{!-- <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>
     #eWrapper{
       display: "block"; text-align: "center"; padding: "20px"
     }
     #email{
          box-shadow;: "0px 1px 38px -5px rgba(44, 39, 39, 0.75)";
             width: "600px";
 background: "#fff"; 
 margin: "0 auto", padding: "50px 20px" 
     }
     #email table{
width: "100%", padding: "0"; border: "0px"; 
     }
     .tr1{
        display: "block"; background: "transparent"; text-align: "center" 
     }
     .logo{
       display: "block"; width: "100%"; margin: "0 auto"
     }
     .logo img{
width:"200px"; height:"100px"; alt: "logo";
     }
     .trr{
display: "block"; color: "#444"; font-size: "18px"; font-weight: 600; line-height: "22px"; padding: "20px 5px"
     }
     .trrr{
       text-align: "left"; display: "block"; color: "#444"; font-size: "14px"; font-weight: 400; line-height: "18px"; padding: "20px 5px" 
     }
     .trrrr{
        text-align: "left"; display: "block"; color: "#444"; font-size;: "14px"; font-weight : 400; line-height: "18px"; padding: "20px 5px" 
     }
     .trrrr a{
       color: red;
     }
     .tr5{
    text-align: "left"; display:"inline-block"; color: "#444"; font-size: "10px"; font-weight: 400; line-height:"14px";
       padding: "20px 5px";
     }
     .tr5 a{
text-transform: "uppercase"; background: "#444"; border: "1px solid #444"; color: "#fff"; padding: "10px 10px"
     }
     .tr6{
      text-align: "left"; display:"inline-block"; color: "#444"; font-size: "10px"; font-weight: 400; line-height:"14px";
       padding: "20px 10px";
     }
     .tr6 a{
    
        text-transform:  "uppercase"; background: "#fff"; border: "1px solid #444"; color: "#444"; padding: "10px 5px"
     }
    </style>

  </head>
  <body>
      <div id='eWrapper'>
            <div id='email' >
                <table border={0} cellSpacing="0" width="100%" >
                    <tr class="tr1" >
                        <td className='logo' >
                            <img  src="https://res.cloudinary.com/vaslcloth/image/upload/v1649262973/avatars/logo_geoqbu.png" />
                        </td>
                    </tr>
                    <tr class="trr">
                        Thanks for shopping at VASL
                    </tr>
                    <tr class="trrr" >
                        Thanks for signing up for the <b>VASL</b> particle system designer alpha. Please download the app by clicking the download button below.
                    </tr>
                    <tr class="trrrr" >
                        As part of the alpha, we'd really appreciate it if you could let
                        us know your thoughts about the app in our
                        <a href="https://www.vasl.com/help" >
                            vasl.help
                        </a>
                        space.
                    </tr>
                    <tr class="tr5" >
                        <a href="https://www.vasl.com/order" >
                            View order
                        </a>
                    </tr>
                    <tr class="tr6" >
                        <a href="https://www.vasl.com/order" >
                            check status
                        </a>
                    </tr>
                </table>
            </div>
        </div>
  </body>
</html> --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div style="width:600px; text-align:center; padding:30px 20px; margin:0 auto; background:#fff; border:1px solid #444;"><strong style="text-align:center; color:#444; display:block; margin-bottom:30px;">Thank You! For shop at VASL</strong><img width="200" height="100" style="margin: 0 auto;" alt="vasl-logo" src="https://res.cloudinary.com/vaslcloth/image/upload/v1649262973/avatars/logo_geoqbu.png" /><strong style="text-align:center; color:#444; display:block; margin-bottom:30px;">You can check your Order Status by putting your email at VASL</strong><p style="color:#444; display:block; margin-bottom:30px;">VASL’s top priority is your privacy protection when dealing with us. To safeguard your trust, we have a policy that recognizes the importance of protecting your personal information; explaining what personal information constitutes, how we use the information, who has access to your data, and what are your rights regarding your personal information.; This Privacy Policy does not apply to websites maintained by other companies or organizations to which we link and VASL is not responsible for any personal information you submit to third parties via our website. Please ensure that you read the Privacy Policy of such other companies or organizations before submitting your details. Your access and use of www.vasl.pk constitute your acceptance of our Privacy Policy and Terms of Use.</p><a href="www.vasl.pk" style="display:block; padding:10px 20px; background:#444; text-decoration:none; font-size:14px; color:#fff;">View Order</a></div>
</body>
</html>