:root{
  --boxShadow: 0px 1px 38px -5px rgba(44,39,39,0.75);
  --themeColor: #444;
  --lightColor: #eee;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products{
  margin-bottom: 50px;
}
.productsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid #444;
  padding: 2vmax;
  color: #444;
  text-align: center;
}
.products {
  overflow: hidden;
}
.paginationBox {
  display: flex;
  justify-content: center;
  margin: 6vmax;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item {
  background-color: rgb(255, 255, 255);
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}
.page-item:hover {
  background-color: rgb(230, 230, 230);
}
.page-item:hover .page-link {
  color: rgb(0, 0, 0);
}
.pageItemActive {
  background-color: #444;
}
.pageLinkActive {
  color: white;
}
.categoryBox {
  text-align: center;
}
ul.categoryBox li{
  display: inline-block;
  vertical-align: top;
}
.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.61);
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.5s;
}
.category-link:hover {
  color: #444;
}
.filterBox .fl_box > fieldset {
  border: none;
}
.filterBox .fl_box > .slider {
  color: #444;
}
fieldset .fl_box > .slider {
  color: #444;
}
.filterBox {
  width: 100%;
  overflow: hidden;
  text-align: center;
  padding: 0 20px;
}
.fl_box{
  display: inline-block;
  vertical-align: top;
  padding: 20px 0;
}
.fl_box h2{
  display: inline-block;
}
.fl_box.price_fil{
  float: left;
  width: 10%;
}
.fl_box.cate_list{
  display: inline-block;
  vertical-align: top;
}
.fl_box.rate_fld{
  float: right;
  width: 10%;
}
.fl_box.rate_fld .MuiSlider-root{
  color: var(--themeColor);
}

@media screen and (max-width: 600px) {
  .filterBox {
    width: 20vmax;
    position: static;
    margin: auto;
  }
}
