.loading {
  background-color: rgba(255, 255, 255, 0.24);
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  max-width: 100%;
  position: relative;
  top: 10px;
  overflow-y: hidden;
  overflow-x: hidden;
}
.load > div {
  display: flex;
  justify-content: center;
  position: relative;
  top: 200px;
}
.loading > div > img {
  width: 445px;
}
.productload {
  justify-content: center;
  margin-top: 1200px;
  width: 200px !important;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  color: #444;
  height: 300px;
  box-shadow: 0px 1px 38px -5px rgba(44, 39, 39, 0.75);
  -webkit-box-shadow: 0px 1px 38px -5px rgba(44, 39, 39, 0.75);
  -moz-box-shadow: 0px 1px 38px -5px rgba(44, 39, 39, 0.75);
  border-radius: 10px;
}

.productload > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productload > div > img {
  width: 30px;
}
.productload:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
@media screen and (max-width: 900px) {
  .productload > div > img {
    width: 80px;
  }
}
