:root {
  --boxShadow: 0px 1px 38px -5px rgba(44, 39, 39, 0.75);
  --themeColor: #444444;
  --lightColor: #eeeeee;
  --redColor: #ff0000;
  --lightBorder: 0 2px 3px rgb(0 0 0 / 10%);
  --boxBorder: rgb(0 0 0 / 10%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.3s;
  text-decoration: none;
  font-family: "Fredoka", "Great Vibes", "Heebo", sans-serif !important;
  /* 400 Regular
  600 SemiBold
  700 Bold */
}
body {
  background: var(--lightColor);
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.unstyled {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.btn_primary {
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0px;
  padding: 5px 20px;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all ease-in-out 0.3s;
  border: 1px solid var(--themeColor);
  color: var(--themeColor);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  z-index: 0;
}
.btn_primary.active,
.btn_primary:focus,
.btn_primary:hover {
  color: var(--lightColor);
  box-shadow: var(--boxShadow);
}
.btn_primary.active{
  background: var(--themeColor);
}
.btn_primary::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(-102%);
  left: 0;
  width: 0;
  transition: all ease-in-out 0.3s;
  background: var(--themeColor);
}
.btn_primary:focus::after,
.btn_primary:hover::after {
  border: 1px solid transparent;
  width: 100%;
  color: var(--lightColor);
  transform: translate(0);
}

.btn_p {
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0px;
  padding: 2px 10px;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all ease-in-out 0.3s;
  border: 1px solid var(--themeColor);
  color: var(--themeColor);
  font-size: 12px;
  line-height: 0px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
}
.btn_p:focus,
.btn_p:hover {
  color: var(--lightColor);
  box-shadow: var(--boxShadow);
}
.btn_p:focus svg,
.btn_p:hover svg{
  fill: var(--lightColor) !important;
}
.btn_p::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(-102%);
  left: 0;
  width: 20%;
  transition: all ease-in-out 0.3s;
  background: var(--themeColor);
}
.btn_p:focus::after,
.btn_p:hover::after {
  border: 1px solid transparent;
  width: 100%;
  color: var(--lightColor);
  transform: translate(0);
}


input.btn_primary {
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 0px;
  padding: 5px 20px;
  outline: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: all ease-in-out 0.3s;
  border: 1px solid var(--themeColor);
  color: var(--themeColor);
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  background: transparent;
  z-index: 0;
}
input.btn_primary:focus,
input.btn_primary:hover {
  color: var(--lightColor);
  box-shadow: var(--boxShadow);
}
input.btn_primary::after {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(-102%);
  left: 0;
  width: 0;
  transition: all ease-in-out 0.3s;
  background: var(--themeColor);
}
input.btn_primary:focus::after,
input.btn_primary:hover::after {
  border: 1px solid transparent;
  width: 100%;
  color: var(--lightColor);
  transform: translate(0);
}

@media screen and (max-width: 768px) {
  input.btn_primary {
    padding: 25px 20px;
  }
}
@media screen and (max-width: 480px) {
  input.btn_primary {
    padding: 10px 20px;
  }
  .btn_p{
    padding: 2px 10px;
    line-height: 0;
  }
}